@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --branco: #FFFFFF;
  --bege: #DCDDBA;
  --laranja-claro: #f49237;
  --laranja-escuro: #fd7a00;
  --laranja: #e17614;
  --preto: #171717;
  --vermelho: #d31e06;
  --azul: #063dac;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
