@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --laranja-escuro: #ff8c08;
  --laranja: #FFB208;
  --laranja-claro: #fab05b;
  --vermelho: #E31119;
  --azul: #3C4ED4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
